
.doc-container{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}
.consultation-container{
    width:70%;
   
}
.video-container{
    width:30%;
}
.image-appointment{
    width:100px;
    height:100px;
    background-image:url(../images);
}